* {
	margin: 0;
	padding: 0;
}

.video-banner {
	width: 100%;
	height: 100%;
	z-index: 1;
}

body {
	background: radial-gradient(circle, #343434, #000000);
}

.articulos1 {
	display: flex;
	justify-content: space-between;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 15px;
}

.articulos2 {
	display: flex;
	justify-content: space-between;
	margin-left: 80px;
	margin-right: 80px;
}

#barra {
	position: fixed;
	width: 100%;
	font-size: 14px;
	font-family: 'Gill Sans';
	color: rgb(142, 142, 142);
	padding-top: 15px;
	padding-left: 80px;
	padding-bottom: 15px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgb(208, 208, 208);
	z-index: 2;
}

#registro {
	display: flex;
	padding-left: 300px;
	align-items: center;
	padding-right: 100px;
}

.links {
	margin-left: 33px;
}

.registrarse {
	font-size: 13px;
	font-family: 'Gill Sans';
	color: rgb(255, 255, 255);
	font-weight: 700;
	background-color: rgb(12, 52, 88);
	border-color: rgb(9, 81, 143);
	border-radius: 100px;
	height: 30px;
	width: 120px;
	border-width: 2px;
	border-style: solid;
}

.registrarse:hover,
.comprar:hover,
.visitar:hover,
.ver-todo:hover {
	border-width: 3px;
	background-color: rgb(36, 97, 150);
	border-color: rgb(38, 112, 177);
	transition: 0.3s ease;
}

a {
	margin-right: 40px;
	margin-left: 20px;
	transition: color 0.3s ease;
	cursor: pointer;
}

svg {
	color: rgb(142, 142, 142);
}

a:hover,
svg:hover {
	color: white;
}

#info-header {
	position: absolute;
	z-index: 1;
	padding-top: 160px;
	color: white;
	font-family: 'Gill Sans';
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-right: 930px;
	margin-left: 170px;
}

#botones {
	display: flex;
	padding-top: 30px;
	font-family: 'Gill Sans';
}

.comprar {
	font-size: 15px;
	color: white;
	font-weight: 600;
	width: 200px;
	height: 50px;
	margin-right: 20px;
	background-color: rgba(20, 72, 117, 0.5);
	border-color: rgb(29, 102, 165);
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
}

.visitar {
	font-size: 15px;
	color: white;
	font-weight: 600;
	width: 200px;
	height: 50px;
	margin-left: 10px;
	background-color: transparent;
	border-color: white;
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
}
.ultimas-not {
	font-family: 'Gill Sans';
	margin-top: 100px;
	text-align: center;
	color: white;
	margin-bottom: 40px;
}

#secciones {
	font-size: 20px;
	font-family: 'Gill Sans';
	color: white;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 100px;
	margin-right: 100px;
	border-top: 1px solid rgb(208, 208, 208);
	border-bottom: 1px solid rgb(208, 208, 208);
	cursor: pointer;
}

.all-news {
	margin: 0;
}

.ver-todo {
	font-size: 15px;
	color: white;
	font-weight: 600;
	width: 260px;
	height: 50px;
	background-color: transparent;
	border-color: white;
	border-style: solid;
	border-radius: 30px;
	border-width: 2px;
	cursor: pointer;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 590px;
}

.comunidad {
	font-family: 'Gill Sans';
	margin-top: 500px;
	text-align: center;
	color: white;
	margin-bottom: 10px;
	margin-left: 100px;
	margin-right: 100px;
	font-weight: 600;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(208, 208, 208);
	display: flex;
	justify-content: center;
}

#infoequipos {
	font-size: 15px;
	font-weight: 400;
	font-family: 'Gill Sans';
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 750px;
	padding-top: 120px;
	z-index: 2;
	position: relative;
}

h3 {
	color: white;
	font-weight: 600;
	font-size: 25px;
}

#listas {
	display: flex;
	justify-content: flex-end;
}

ul {
	list-style: none;
	margin: 20px;
	line-height: 25px;
}

#separadores {
	z-index: 1;
	position: absolute;
}
